VITE_CLOUDINARY_CLOUD_NAME=dgpfddmnpi
VITE_CLOUDINARY_UPLOAD_PRESET=doce_lar_unsigned
VITE_CLOUDINARY_FOLDER=doce-lar-produtos
VITE_SUPABASE_URL=https://seu-projeto.supabase.co
VITE_SUPABASE_ANON_KEY=sua_anon_key
